h1
{
    color:#3F2D2D;
    font-size: 64px;
    font-family: 'Poppins';
    font-weight: bold;
}

p
{
    font-size: 32px;
    font-family: 'Poppins';
}
h5
{
    font-size: 28px;
    font-family: 'Poppins';
    font-weight: bold;
}
.card
{
    border-radius: 30px !important;
    margin-left: auto; 
    float: none;
    background-color:#F7F1F1!important;
}
.card-img-top
{
    width: 40px;
     height: 200px;
     
}
.card-text
{
   
    font-size: 12px;
}




